<div class="container px-2">
  <div class="row">
    <div class="main-password min-h">
      <div class="main-recovery__form col-md-6 col-12 mx-auto">
        <div class="form-logo flex-center mb-3">
          <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo yard_sale" width="150px" height="45px">
        </div>
        <div class="main-recovery__message text center">
          <p class="p-bold py-2">Create a new password</p>
          <p class="p-text pb-2">Enter a new password for your account</p>
        </div>
        <form class="w-full" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" >
          <app-input type="password" label="Password" placeholder="********" formControlName="passwordNew"></app-input>
          <app-input type="password" label="Re-enter password" placeholder="********" formControlName="passwordNewRepeat"></app-input>
          <button mat-button type="submit" class="button mb-2 bg-primary mt-2 mb-2">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
