.detail {
  overflow-y: auto;
  &__cancel {
    background: transparent;
    // position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    button {
      border: 0;
      background: transparent;
      color: var(--secondary);
      cursor: pointer;
      span {
        background: transparent;
      }
      &:hover {
        color: var(--primary);
      }
    }
  }
  &__content {
    max-height: 55vh;
    overflow-y: auto;
    margin-bottom: 40px;
  }
}
