<div class="show-mobile">
  <div class="flex between p-2 ">
    <button (click)="toggleMenu()" class="cursor"><img src="./assets/svg/icon_menu.svg" alt="menu"></button>
    <a href="#"><img src="./assets/svg/logo_yard_sale.svg" alt="logo"></a>
    <div>
      <a href="/cart"><img src="./assets/svg/icon_shopping_cart.svg" alt="logo"></a>
      <span class="counter"> {{ counter }} </span>
    </div>
  </div>
  <div class="side-menu p-2" [class.active]="activeMenu">
    <div class="side-menu__cancel">
      <button (click)="toggleMenu()"><span class="material-symbols-outlined">close</span></button>
    </div>
    <p class="p-bold">CATEGORIES</p>
    <div class="navigation flex column between">
      <ul class="navigation__articles mt-3">
        <li><a class="p-bold" href="/">All</a></li>
        <li><a *ngFor="let category of categories" class="p-bold" (click)="filterCategory(category.id)">{{ category.name }}</a></li>
      </ul>
      <div class="navigation__auth border-top" *ngIf="showAccount">
        <ul>
          <li><a class="p-bold cursor">My orders</a></li>
          <li><a class="p-bold" href="/profile">My account</a></li>
        </ul>
      </div>
      <div class="navigation__login">
        <a href="/auth" class="p-bold" *ngIf="!showAccount">Log in</a>
        <div class="logout mt-4" *ngIf="showAccount">
          <p class="p-text">{{ email }}</p>
          <a class="p-bold pt-1 cursor" (click)="logout()">Sign out</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
        <li><a (click)="logout()">Salir</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <!-- <p *ngIf="profileValid"> {{ profile.email }} </p> -->
      </div>
      <div>
        <a><img src="./assets/svg/icon_shopping_cart.svg" alt="logo"></a>
        <span class="counter"> {{ counter }} </span>
      </div>
    </div>
  </div>
</div>
