<app-header class="w-full header"></app-header>
<div class="container space-header p-2">
  <div class="row">
    <div class="main-new-account w-full min-wh">
      <div class="main-new-account__message col-md-6 col-12 mx-auto">
      </div>
      <form class="main-new-account__form col-md-6 col-12 mx-auto flex column between" [formGroup]="newAccountForm" (ngSubmit)="onSubmit()">
        <p class="p-bold">My account</p>

        <div>
          <app-input label="Name" placeholder="Camilo Navar" formControlName="name"></app-input>
          <app-input label="Email address" placeholder="pablo@noreal.com" formControlName="email"></app-input>
          <app-input label="Password" placeholder="**********" formControlName="password" type="password"></app-input>
        </div>
        <button mat-button type="submit" class="button bg-primary">Create</button>
      </form>
    </div>
  </div>
</div>
