<div class="container p-2">
  <div class="row">
    <div class="main-login flex column between min-32">
      <div class="main-login__cancel">
        <span class="material-symbols-outlined" routerLink="/">close</span>
      </div>
      <div class="main-login__form col-md-6 col-12 mx-auto">
        <div class="form-logo flex-center mb-3">
          <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo yard_sale" width="200px" height="45px">
        </div>
        <form class="w-full" [formGroup]="formLogin" (ngSubmit)="onSubmit()" >
          <app-input label="Email address" placeholder="pablo@noreal.com" formControlName="email"></app-input>
          <app-input label="Password" placeholder="*********" formControlName="password" type="password"></app-input>
          <button mat-button type="submit" class="button mb-2 bg-primary mt-2 mb-2">Log in</button>
        </form>
        <a class="mt-2 mb-2" routerLink="/auth/recovery">Forgot my password</a>
      </div>
      <div class="main-login__signup col-md-6 col-12 mx-auto">
        <button mat-button routerLink="/auth/new-account" class="button mb-2 bg-secondary">Sign up</button>
      </div>
    </div>
  </div>
</div>

<!-- <button mat-button (click)="getProfile()">get Profile</button> -->
