.product-cart {
  margin-bottom: 8px;
  &__img {
    border-radius: 14px;
    width: 60px;
    min-width: 60px;
    height: 60px;
    img {
      width: 100%;
      border-radius: 14px;
    }
  }
  &__name, &__price {
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__name {
    width: 120px;
  }
  &__price {
    width: 66px;
  }
  &__cancel {
    button {
      border: 0;
      background: transparent;
      color: var(--secondary);
      cursor: pointer;
      span {
        background: transparent;
      }
      &:hover {
        color: var(--primary);
      }
    }
  }
}
