@import "./bootstrap_layout.scss";
@import "./spacing.scss";

.flex {
  display: flex;
  .spacer {
    flex: 1 1 auto;
  }
  &.around {
    justify-content: space-around;
  }
  &.center {
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.end {
    justify-content: end;
  }
  &.column {
    flex-direction: column;
  }
  &.column-around {
    flex-direction: column;
    justify-content: space-around;
  }
  &.column-center {
    flex-direction: column;
    justify-content: center;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, p {
  &.no-margin {
    margin: 0;
  }
}
.gap {
  &-1 {
    gap: 0.5rem;
  }
  &-2 {
    gap: 1rem;
  }
  &-4 {
    gap: 2rem;
  }
  &-8 {
    gap: 4rem;
  }
}
.text {
  &.center {
    text-align: center;
  }
  &.white {
    color: var(--white);
  }
}
.min-h {
  min-height: 100vh;
}
.min-70 {
  min-height: 70vh;
}
.w-80 {
  width: 80%;
}
.w-full {
  width: 100%;
}
.d-block {
  display: block;
}
.button {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
.bg-primary {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  &:hover {
    background-color: var(--bg-white);
    color: var(--primary);
  }
}
.bg-secondary {
  background-color: var(--bg-white);
  color: var(--primary);
  border: 1px solid var(--primary);
  &:hover {
    background-color: var(--primary);
    color: var(--white);
  }
}
.input {
  display: block;
  width: 100%;
  padding: 14px;
  margin: 4px 0;
  background: var(--secondary);
  border-radius: 10px;
  border: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
  display: grid;
  place-content: center;
  &:hover {
    text-decoration: underline;
  }
}
.p-bold {
  font-size: 16px;
  font-weight: bold;
}
.p-text {
  font-size: 16px;
  color: var(--grey);
}

@media screen and (min-width: 600px){
  .p-bold, .p-text {
    font-size: 18px;
  }
}
