<div class="container px-2">
  <div class="row">
    <div class="main-sent min-h">
      <div class="main-sent__form col-md-6 col-12 mx-auto">
        <div class="form-logo flex-center mb-3">
          <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo yard_sale" width="150px" height="45px">
        </div>
        <div class="main-sent__message text center">
          <p class="p-bold py-2">Email has been sent!</p>
          <p class="p-text pb-2">Please check your inbox for instructions on how to reset the password</p>
        </div>
        <div class="main-sent__img">
          <img src="../../../assets/svg/email-sent.svg" alt="Email sent" class="icon-email">
        </div>
        <button mat-button type="button" routerLink="/auth" class="button mb-2 bg-primary mt-2 mb-2">Log in</button>
        <div class="main-sent__anchor text center">
          <p>Didn't receive the email?<a class="mt-2 mb-2" routerLink="/auth/recovery">Resend</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
