.main-sent {
  display: grid;
  place-items: center;
  &__img {
    background-color: var(--secondary);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    img {
      width: 75px;
      background-color: var(--secondary);
      position: absolute;
      left: 40px;
      top: 40px;
    }
  }
  &__anchor {
    p {
      color: var(--grey);
      a {
        display: inline-block;
      }
    }
  }
}
