<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.nameP" >
<p *ngIf="person.nameP === 'Pablo'">Soy Pablo</p>
<p *ngIf="person.nameP === 'Julian' && person.ageP == 18; else myBlock">Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque else</p>
</ng-template>
<hr />

<h1>Data binding</h1>
<p>Name {{person.nameP}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.nameP" >
<p>Valid {{ nameInput.valid }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.ageP" >
<p>Valid {{ ageInput.valid }}</p>
<hr>

<h1>Event binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.ageP}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum possimus quos fuga, veniam voluptates rem atque asperiores deserunt nisi omnis maiores! Beatae nemo architecto dolorem praesentium doloribus delectus accusamus omnis!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia maiores voluptatibus facere? Voluptate rem dolor architecto obcaecati eos, repellendus voluptatem quibusdam fugit ipsa et, nesciunt fuga accusantium in eum officiis.
</div>
<input type="text" [value]="person.nameP" (keyup)="changeName($event)">
<p>Name {{person.nameP}}</p>
<hr>

<h1>Binding Properties</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.nameP">
<progress max="100" [value]="person.ageP"></progress>
<img [src]="person.avatar" alt="Universe" width="100px">
<hr>

<h1>String Interpolation</h1>
<h2>{{ "Hola mundo".repeat(5) }}</h2>
<p> 3 + 3 = {{ 3 + 3}}</p>
<p>Hola mi nombre es {{ name }} y mi edad es {{ age }}</p>
<img src="{{img}}" alt="Universe">
