<h1>ngClass & ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.nameP">
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"/>
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
  }"></div>
</div>
<hr />

<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.nameP">
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label for="nombre">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.nameP">
<p [style.font-style]="nameInput3.invalid ? 'italic': 'normal'">Texto Texto Texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar" alt="Universe">
  </div>
</div>
<hr />

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.nameP">
<div [ngSwitch]="person.nameP">
  <p *ngSwitchCase="'Pablo'">The person is Pablo</p>
  <p *ngSwitchCase="'Juan'">The person is Juan</p>
  <p *ngSwitchCase="'Ana'">The person is Ana</p>
  <p *ngSwitchDefault>No hace match con ninguno</p>
</div>
<hr />

<h1>*ngFor Objects</h1>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2> {{ product.price }} </h2>
    <p> {{ product.name }} </p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.nameP" >
<p *ngIf="person.nameP === 'Pablo'">Soy Pablo</p>
<p *ngIf="person.nameP === 'Julian' && person.ageP == 18; else myBlock">Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque else</p>
</ng-template>
<hr />

<h1>Data binding</h1>
<p>Name {{person.nameP}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.nameP" >
<p>Valid {{ nameInput.valid }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.ageP" >
<p>Valid {{ ageInput.valid }}</p>
<hr>

<h1>Event binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.ageP}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum possimus quos fuga, veniam voluptates rem atque asperiores deserunt nisi omnis maiores! Beatae nemo architecto dolorem praesentium doloribus delectus accusamus omnis!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia maiores voluptatibus facere? Voluptate rem dolor architecto obcaecati eos, repellendus voluptatem quibusdam fugit ipsa et, nesciunt fuga accusantium in eum officiis.
</div>
<input type="text" [value]="person.nameP" (keyup)="changeName($event)">
<p>Name {{person.nameP}}</p>
<hr>

<h1>Binding Properties</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.nameP">
<progress max="100" [value]="person.ageP"></progress>
<img [src]="person.avatar" alt="Universe" width="80px">
<hr>

<h1>String Interpolation</h1>
<h2>{{ "Hola mundo".repeat(5) }}</h2>
<p> 3 + 3 = {{ 3 + 3}}</p>
<p>Hola mi nombre es {{ name }} y mi edad es {{ age }}</p>
<img width="200px" src="{{img}}" alt="Universe">
