.box {
  width: 200px;
  height: 200px;
  overflow: auto;
  background-color: antiquewhite;
}

.products-grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0px;
    }
  }
}

.message-error {
  background-color: #ff0000;
  color: #ffffff;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 40em){
  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
