.box {
  width: 200px;
  height: 200px;
  overflow: auto;
  background-color: antiquewhite;
}

.products-grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0px;
    }
  }
}

@media screen and (min-width: 40em){
  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
