<div class="p-1 product">
  <app-img *ngIf="product.images.length > 0" [img]="product.images[0]" class="product__img" (click)="onShowDetail()"></app-img>
  <div class="product__info flex between">
    <div class="price">
      <h2> $ {{ product.price | currency:'COP' }} </h2>
      <p> {{ product.title }} </p>
    </div>
    <button (click)="onAddToCart()">
      <img src="./../../../../assets/svg/bt_add_to_cart.svg" alt="Add to the car" loading="lazy" width="40px" height="40px">
    </button>
  </div>
</div>

