.products {
  &__search {
    .input-icon {
      button {
        border: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 10px 10px 8px 10px;
        min-width: 40px;
        margin: 4px 0;
        cursor: pointer;
        background-color: var(--secondary);
        .icon {
          background-color: var(--secondary);
        }
      }
      input {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    .add_product {
      button {
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: auto 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        i {
          width: 100%;
          line-height: 40px;
          border-radius: 50%;
          background-color: var(--primary);
          color: var(--white)
        }
      }
    }
  }
  &__links {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    .slider {
      display: flex;
      justify-content: start;
      gap: 10px;
      li {
        a {
          display: inline-block;
          padding: 10px;
          color: var(--secondary);
          text-decoration: none;
          border-radius: 10px;
          border: 1px solid var(--white);
          &.active, &:hover, &:active {
            border: 1px solid var(--primary);
            color: var(--primary);
          }
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__detail {
    position: fixed;
    top: 60px;
    left: 0%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-in-out 1s;
    transform: translateX(100%);
    &.active{
      transform: translateX(0);
    }
  }
}
@media screen and (min-width: 780px) {
  .products {
    &__detail {
      top: 73px;
      left: 50%;
      &.active{
        transform: translateX(0);
      }
    }
  }
}
