<app-header class="header w-full"></app-header>
<div class="container space-header p-1 min-wh products">
  <div class="row products__search">
    <div class="col-10">
      <form [formGroup]="searchProducts" (ngSubmit)="onSubmit()" class="">
        <div class="input-icon flex between">
          <button type="submit"><i class="material-symbols-outlined icon">search</i></button>
          <input matInput type="text" formControlName="search" name="search" placeholder="Search product" class="input" autocomplete="off"/>
        </div>
      </form>
    </div>
    <div class="col-2 add_product flex-center">
      <button type="button" (click)="addNewProduct()"><i class="material-symbols-outlined icon" aria-placeholder="Add new product">add_circle</i></button>
    </div>
  </div>
  <div class="row pt-2 pb-2 products__links">
    <ul class="slider">
      <li><a (click)="getProducts()" [ngClass]="activeDefault ? 'active' : ''">All</a></li>
      <li *ngFor="let category of categories"><a [id]="category.id" (click)="getProductCategory(category.id)" [ngClass]="idCategory === category.id ? 'active' : ''">{{ category.name }}</a></li>
    </ul>
  </div>

  <div class="row products__list">
    <app-product class="col-6 col-sm-3 col-md-3"
      [product]="product" *ngFor="let product of products | paginate: {itemsPerPage: 12, currentPage: page}"
      (addedProduct)="onAddToShoppingCart($event)" (showProduct)="onShowDetail($event)">
    </app-product>
    <button (click)="getProducts()" *ngIf="!idCategory">load more</button>
    <button (click)="getProductCategory()" *ngIf="(idCategory && categoryLength >= 10)">load more</button>
  </div>
  <pagination-controls (pageChange)="page = $event" class=" p-2 text center"></pagination-controls>

  <div class="row products__detail" [class.active]="showProductDetail">
    <app-product-detail [product]="productChosen" [status]="statusDetail" (showDetail)="toggleProductDetail($event)" (productId)="deleteArrayProduct($event)"></app-product-detail>
  </div>

</div>
