<app-header class="header w-full"></app-header>
<div class="container space-header p-1 min-wh products">
  <div class="row products__search">
    <form [formGroup]="searchProducts" (ngSubmit)="onSubmit()" class="">
      <div class="input-icon flex between">
        <button type="submit"><i class="material-symbols-outlined icon">search</i></button>
        <input matInput type="text" formControlName="search" name="search" placeholder="Search product" class="input" autocomplete="off"/>
      </div>
    </form>
  </div>
  <div class="row pt-2 pb-2 products__links">
    <ul class="slider">
      <li><a href="/" class="active">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
      <li><a href="">Furniture</a></li>
      <li><a href="">Toys</a></li>
      <li><a href="">Others</a></li>
    </ul>
  </div>

  <div class="row">
    <!-- <p><a href="../../../assets/files/texto.txt" download>Descargar</a></p> -->
    <!-- <p> <button (click)="downloadPdf()">Descargar PDF</button> </p> -->
    <!-- <p>
      <input type="file" (change)="onUpload($event)">
      <img *ngIf="imgRta" [src]="imgRta">
    </p> -->

    <app-product-list></app-product-list>

    <!-- <p><input type="text" [(ngModel)]="imgParent" ></p> -->
    <!-- <button (click)="toggleImg()">Toggle img</button> -->
    <!-- <p> {{ showImg }} </p> -->
    <!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->
  </div>
</div>
<hr />

