<app-header class="header w-full"></app-header>
<div class="container space-header p-1 min-wh products">
  <div class="row products__search">
    <form [formGroup]="searchProducts" (ngSubmit)="onSubmit()" class="">
      <div class="input-icon flex between">
        <button type="submit"><i class="material-symbols-outlined icon">search</i></button>
        <input matInput type="text" formControlName="search" name="search" placeholder="Search product" class="input" autocomplete="off"/>
      </div>
    </form>
  </div>
  <div class="row pt-2 pb-2 products__links">
    <ul class="slider">
      <li><a href="/" class="active">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
      <li><a href="">Furniture</a></li>
      <li><a href="">Toys</a></li>
      <li><a href="">Others</a></li>
    </ul>
  </div>

  <div class="row">
    <app-product class="col-6 col-sm-3 col-md-3"
      [product]="product" *ngFor="let product of products | paginate: {itemsPerPage: 12, currentPage: page}"
      (addedProduct)="onAddToShoppingCart($event)" (showProduct)="onShowDetail($event)">
    </app-product>
    <button (click)="getProducts()">load more</button>
  </div>
  <pagination-controls (pageChange)="page = $event" class=" p-2 text center"></pagination-controls>
</div>
<hr />

